[submodule "o-voxel/third_party/eigen"]
	path = o-voxel/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extensions/nvdiffrast-hip"]
	path = extensions/nvdiffrast-hip
	url = https://github.com/Cardboard-box-a/nvdiffrast-hip.git
[submodule "extensions/CuMesh"]
	path = extensions/CuMesh
	url = https://github.com/Cardboard-box-a/CuMesh.git
[submodule "extensions/nvdiffrec"]
	path = extensions/nvdiffrec
	url = https://github.com/Cardboard-box-a/nvdiffrec.git
	branch = renderutils
[submodule "extensions/FlexGEMM"]
	path = extensions/FlexGEMM
	url = https://github.com/Cardboard-box-a/FlexGEMM-rocm.git
[submodule "extensions/o-voxel"]
	path = extensions/o-voxel
	url = https://github.com/Cardboard-box-a/o-voxel.git
